<html lang="en">
<head>
    <title>Predict Data</title>
    <link rel="stylesheet" href="/static/styles/index_style.css">
</head>
<body>
    <header>
        <a href="/hello" class="center-btn">Прогноз роста объема данных</a>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    </header>

    <a class="basket-img" href="/basket">
        <img src="/static/img/Basket.png" alt="home">
        <span class="basket-text">{{ .numOfOrders }}</span>
    </a>


    <form class=search-form action="/hello" method="GET">
        <input type="text" name="query" placeholder="Поиск фактора роста" value="{{ .query }}">
        <button type="submit"></button>
    </form>

    <div class="cards-grid">
        {{ range .orders }}
        <div class="card">
            <img src="{{ .Image }}" alt="Изображние">
            <a href="/order/{{ .ID }}"> {{ .Title }} </a>
            <button>Добавить в заявку</button>
        </div>
        {{ end }}
    </div>
</body>
</html>
