<html lang="en">
<head>
    <title>Order</title>
    <link rel="stylesheet" href="/static/styles/order_style.css">
</head>
<body>
    <header>
        <a href="/hello" class="center-btn">Прогноз роста объема данных</a>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    </header>
    <div class="order">
        <img class="img-part" src="{{ .order.Image }}" alt="Изображние">
        <div class="text-part">
            <p class="title">{{ .order.Title }}</p>
            <div class="ver">
                <p> {{ .order.Description }} </p>
                <p>Коэффициент: {{ .order.Coeff }}</p>
            </div>
        </div>
    </div>
</body>
</html>
